@font-face {
                      font-family: 'GravurCondensed-Regular';
                      src: url('GravuConReg.eot');
     }

@font-face {
                      font-family: 'GravurCondensed-Regular';
                      src: url('GravuConReg.woff') format('woff'),
                      url('GravuConReg.svg#GravurCondensed-Regular') format('svg');
     }

* {
	border: 0;
	margin: 0;
	font-family: "GravurCondensed-Regular", sans-serif;
/*	font-family: sans-serif;*/
	text-align: left;
	font-size: 40px; /* 30px */
/*	overflow: hidden*/
}

#ruler { 
	/*visibility: hidden;
	white-space: nowrap;*/
	position: absolute;
	left:0px;
	top: 900px;
	background-color: grey;
}

div#screen {
	overflow: hidden;
}

div#text {
	padding: 45px; /*20px*/
	height: 415px; /*466px*/
	width: 450px;
	background-color: grey;
/*	-webkit-transform: rotateZ(180deg);*/
}

div#text span {
	width: 150px;
}	
	
div#text span#hidden {
	visibility: hidden;
}
