@font-face {
                      font-family: 'GravurCondensed-Regular';
                      src: url('GravuConReg.eot');
     }

@font-face {
                      font-family: 'GravurCondensed-Regular';
                      src: url('GravuConReg.woff') format('woff'),
                      url('GravuConReg.svg#GravurCondensed-Regular') format('svg');
     }

* {
	border: 0;
	margin: 0;
	font-family: "GravurCondensed-Regular", sans-serif;
/*	font-family: sans-serif;*/
	text-align: left;
	font-size: 70px; /* 90px 
	*/
}

body {
	overflow: hidden;
}

#ruler { 
	visibility: hidden;
	white-space: nowrap;
	position: absolute;
	left:0px;
	top: 0px;
	z-index: -1;
}

div#screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 798px;
	height: 506px;
	background-color: black;
}

div#window {
	margin-top: 7px;
	margin-left:33px;				
	width: 732px;
	height: 465px;
	background-color: white;
}


div#text {
	position: absolute;
	bottom:69px; 
	margin: 0 86px 0 53px;
	min-height: 400px;
	line-height: 100px;
/*	-webkit-transform: rotateZ(180deg);*/
}
div#textOverlay {
	position: absolute;
	top:7px;
	left: 33px; 
	width: 732px;
	height: 40px;
	z-index: 2;
	background-color: white;
}

.line {
	height: 100px; 	
}
#gradient {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 140;
}

/*
div#text {
	position: relative;
	top:52px;  
	margin: 0 76px 0;
}
.line {
	height: 88px; 
}

*/